<div class="container">
  <div class="row">
    <div class="card">
      <h3 class="card-header">Login Form</h3>
      <div class="card-body">
        <form (onSubmit)="login()">
          <div class="mb-3">
            <label for="username" class="form-label">UserName</label>
            <input
              type="text"
              name="username"
              id="username"
              class="form-control"
              [(ngModel)]="username"
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              name="password"
              id="password"
              autocomplete="current-password"
              class="form-control"
              [(ngModel)]="password"
            />
          </div>
          <div class="form-check">
            <input
(click)="rememberMe()"
              type="checkbox"
              class="form-check-input"
              placeholder=""
              value=""
              id="remember"
            />
            <label for="remember" class="form-check-label">Remember Me</label>
          </div>
          <div class="mb-3 mt-3 d-grid gap-2">
            <button type="submit" title="#" class="btn btn-warning">
              Login
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
